<html ng-app="composer">
<head>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,900" rel="stylesheet">

    <link href="../../dist/story-tools-core-all.css" rel="stylesheet">
    <link href="style/css/test.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/9690d4cb85.js"></script>
    <script src="js/config.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/vendor.bundle.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../dist/story-tools-vendor-all.js"></script>
    <script src="bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
    <script src="bower_components/angular-sortable-view/src/angular-sortable-view.js"></script>
    <script src="../../dist/story-tools-core-all.js"></script>
    <script src="../../dist/story-tools-edit-tpls.js"></script>
    <script src="../../dist/story-tools-edit.js"></script>
    <script src="../../dist/story-tools-edit-ng.js"></script>
    <script src="../../dist/story-tools-mapstory.js"></script>
    <script src="js/app.bundle.js"></script>
    <script src="http://localhost:35729/livereload.js"></script>
    <base href="/v2/">
</head>
<body ng-controller="composerController as composer">
<div id="appwrap">
<header>
    <div class="story-info">
        <h1>{{ mapManager.title}}</h1>
        <a href="#">Edit story info</a>
    </div>
    <div class="preview">
        <div class="form-field">
            <label for="timeline">Preview mode</label>
            <label class="switch">
                <input type="checkbox" ng-model="mode.preview" for="sidebar" ng-click="togglePreviewMode()">
                <div class="slider round"></div>
            </label>
        </div>
    </div>
    <div class="autosave">
        <p>Last edit was 6 days ago<p>
        <button>Save</button>
        <button>Publish</button>
    </div>
</header>
<div class="sidebar" ng-init="selected = {toc:true}" ng-hide="mode.preview">
    <div class="sidebar-header">
        <div class="chapter-header">
            <a ng-click="selected = {toc:true}" class="toc-link">Table of Contents</a>
            <div class="chapter-nav">
                <a ng-click="previousChapter()" ng-disabled="mapManager.storyChapter == 1" class="arrow"><i class="fa fa-caret-left"></i></a>
                <h1 class="sidebar-title">{{ mapManager.storyChapter}} <strong>{{ mapManager.storyMap.getStoryTitle()  }}</strong></h1>
                <a ng-click="nextChapter()" ng-disabled="mapManager.storyChapter == mapManager.chapterCount" class="arrow"><i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>
    <div class="sidebar-main">
        <nav class="sidebar-nav">
            <a ng-click="selected = {layers:true}"><i class="fa fa-info-circle" ng-class="selected.layers && 'active'"></i></a>
            <a ng-click="selected = {settings:true}"><i class="fa fa-play-circle-o" ng-class="selected.settings && 'active'"></i></a>
            <a ng-click="selected = {legend:true}"><i class="fa fa-list-alt" ng-class="selected.legend && 'active'"></i></a>
            <a href="#"><i class="fa fa-clone"></i></a>
            <a ng-click="selected = {pins:true}"><i class="fa fa-map-pin" ng-class="selected.pins && 'active'"></i></a>
            <a ng-click="selected = {frames:true}"><i class="fa fa-object-group" ng-class="selected.frames && 'active'"></i></a>
        </nav>
        <div class="sidebar-content">
            <div ng-if="selected.toc"> <div class="sidebar-toc-content">
                <h1 class="sidebar-title"><strong>Table of Contents</strong></h1>
                <p class="sidebar-instructions">Click and drag to re-order chapters.</p>
                <button class="sidebar-button">Add New Chapter</button>
                <div ng-repeat="chapter in mapManager._config.chapters" class="contents-chapter">
                    <div class="contents-summary">
                        <h2 class="chapter-number">{{ chapter.id}}</h2>
                        <h2>{{ chapter.about.title }}</h2>
                        <i class="fa fa-trash delete"></i>
                        <p>
                            {{ chapter.about.abstract }}
                        </p>
                    </div>
                    <a href="chapter_info.html" class="arrow"><i class="fa fa-lg fa-caret-right"></i></a>
                </div>
            </div></div>
            <div ng-if="selected.pins">
                <section>
                    <h2 class="section-title float-left">Storypins</h2>
                    <button class="sidebar-button float-right">Bulk Upload</button>
                    <button class="sidebar-button float-right">Add New StoryPin</button>
                </section>
                <section class="accordion-item">
                    <div class="title-row">
                        <h2>First StoryPin</h2>
                        <i class="fa fa-trash delete"></i>
                        <i class="fa fa-caret-down caret"></i>
                    </div>
                </section>
                <section class="accordion-item active">
                    <div class="title-row">
                        <h2>StoryPin Name</h2>
                        <i class="fa fa-trash delete"></i>
                        <i class="fa fa-caret-up caret"></i>
                    </div>
                    <form>
                        <div class="form-field">
                            <label for="storypin_title">StoryPin Title</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br />
                            <input id="storypin_title" type="text" name="storypin_title" />
                        </div>
                        <div class="form-field">
                            <label for="storypin_text">StoryPin Text</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br />
                            <input id="storypin_text" type="text" name="storypin_text" />
                        </div>
                        <div class="form-field">
                            <label for="storypin_media">StoryPin Media</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br />
                            <textarea id="storypin_media" rows="10" name="storypin_media" required /></textarea>
                        </div>
                        <div class="form-field">
                            <label for="start_time">Start Time</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br />
                            <input type="date" name="start_time_date">
                            <input type="time" name="start_time_time">
                        </div>
                        <div class="form-field">
                            <label for="end_time">End Time</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br />
                            <input type="date" name="end_time_date">
                            <input type="time" name="end_time_time">
                        </div>
                        <div class="form-field">
                            <label for="storypin_playback_options">StoryPin Playback Options</label>
                            <br />
                            <label class="switch">
                                <input type="checkbox" for="timeline">
                                <div class="slider round"></div>
                            </label>
                            <label for="timeline">Show StoryPin on Timeline</label>
                            <br />
                            <label class="switch">
                                <input type="checkbox" for="map">
                                <div class="slider round"></div>
                            </label>
                            <label for="map">Show StoryPin on Map</label>
                            <br />
                            <label class="switch">
                                <input type="checkbox" for="pause_playback">
                                <div class="slider round"></div>
                            </label>
                            <label for="pause_playback">Pause playback when StoryPin appears</label>
                            <br />
                            <label class="switch">
                                <input type="checkbox" for="play_embedded">
                                <div class="slider round"></div>
                            </label>
                            <label for="play_embedded">Play embedded StoryPin media automatically</label>
                        </div>

                    </form>
                </section>
            </div>
            <div  ng-if="selected.layers">
                <h2 class="section-title">Chapter Info</h2>
                <form>
                    <div class="form-field">
                        <label for="chapter_title">Chapter Title</label>
                        <strong><abbr title="required">*</abbr></strong>
                        <br />
                        <input id="chapter_title" type="text" name="chapter_title" required />
                    </div>
                    <div class="form-field">
                        <label for="chapter_summary">Chapter Summary</label>
                        <strong><abbr title="required">*</abbr></strong>
                        <br />
                        <textarea id="chapter_summary" rows="10" name="chapter_summary" required /></textarea>
                    </div>
                </form>
            </div>
            <div ng-if="selected.frames">
                <section>
                    <h2 class="section-title float-left">StoryFrames</h2>
                    <button class="sidebar-button float-right">Add New StoryFrame</button>
                    <p class="clearfix">
                        A StoryFrame defines the area of the map a viewer of your story will see.
                        Set the default StoryFrame below, or create additional StoryFrames to
                        override the part of the map your viewers will see for this chapter.
                    </p>
                </section>
                <section class="accordion-item active">
                    <div class="title-row">
                        <h2>Default StoryFrame</h2>
                        <i class="fa fa-trash delete"></i>
                        <i class="fa fa-caret-up caret"></i>
                    </div>
                    <p>
                        Set the StoryFrame your viewers will see when this chapter begins.
                    </p>
                </section>
                <section class="accordion-item">
                    <div class="title-row">
                        <h2>StoryFrame Name 1</h2>
                        <i class="fa fa-trash delete"></i>
                        <i class="fa fa-caret-down caret"></i>
                    </div>
                </section>
                <section class="accordion-item">
                    <div class="title-row">
                        <h2>StoryPin Name</h2>
                        <i class="fa fa-trash delete"></i>
                        <i class="fa fa-caret-up caret"></i>
                    </div>


                    <div pin-editor>
                        <pin-editor-form></pin-editor-form>
                        <button class="btn btn-inverse" ng-disabled="!pinCtrl.isFormValid()"
                                ng-click="pinsCtrl.saveStoryPin()">Save
                        </button>
                    </div>

                    <form>
                        <div class="form-field">
                            <label for="storypin_title">StoryFrame Title</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br />
                            <input id="storypin_title" type="text" name="storypin_title" />
                        </div>
                        <div class="form-field">
                            <label for="start_time">Start Time</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br />
                            <input type="date" name="start_time_date">
                            <input type="time" name="start_time_time">
                        </div>
                        <div class="form-field">
                            <label for="end_time">End Time</label>
                            <strong><abbr title="required">*</abbr></strong>
                            <br />
                            <input type="date" name="end_time_date">
                            <input type="time" name="end_time_time">
                            <br /><br />
                            <p>Set placement for this StoryFrame on the map.</p>
                        </div>
                    </form>
                </section>
                <section class="accordion-item">
                    <div class="title-row">
                        <h2>StoryFrame Name 3</h2>
                        <i class="fa fa-trash delete"></i>
                        <i class="fa fa-caret-down caret"></i>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
<div class="map-area">
    <!--div class="interactive-banner">
        <strong>Placement for "Default StoryFrame":</strong> Place your StoryFrame over the part of the map you want
        viewers to see when they play the story. Drag the corners to resize.
    </div>
    <div class="stLegend"></div-->
    <div id="map" ng-style="{'width':mapWidth}"></div>
    <div featureinfobox id="info-box" ng-show="featureInfoService.getSelectedItem() && featureInfoService.getEnabled()"
     class="feature-info-box-popup">
</div>
    <div id="footer" class='floating-below'
         ng-show="timeControlsManager.timeControls && timeControlsManager.timeControls.isReady() " ng-style="{'width':mapWidth}">
        <div id="time-controls-panel2" style="background: #34495e;">
            <div class="navbar" style="margin:3px 0 0; min-height: 32px;" ng-controller="tileProgressController">
                <st-playback-controls playback-options="playbackOptions" class="pull-left" style="width:100%"
                                      time-controls="timeControlsManager.timeControls"></st-playback-controls>
                <progressbar animate="false" style="width: 15%; margin:6px 0; font-size:14px"
                             class="navbar-nav navbar-right" value="tilesLoadedProgress"><!--b ng-if="tilesLoaded"
                                                                                            ng-bind="tilesLoaded + '/' + tilesToLoad"
                                                                                            style="color:black"></b-->
                </progressbar>
            </div>
            <div id="timeline" style="background: rgba(255, 255, 255, 0.9); display: none;"></div>
        </div>
    </div>
</div>
</div> <!--/appwrap-->

</body>
</html>
