<!DOCTYPE html>
<html ng-app="timeControls" ng-controller="timeControlsController">
    <head>
        <title>time-controls example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="../node_modules/vis/dist/vis.min.css" type="text/css"/>
        <link rel="stylesheet" href="../bower_components/nouislider/distribute/jquery.nouislider.min.css" type="text/css">
        <link rel="stylesheet" href="ol.css" type="text/css">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">

        <script type="text/ng-template" id="time-controls-template">
            <button class="btn btn-primary" ng-click="play()">{{ playText }}</button>
            <button class="btn" ng-click="prev()">&lt;&lt;</button>
            <button class="btn" ng-click="next()">&gt;&gt;</button>
            <button class="btn" ng-click="toggleLoop()" ng-class="{ 'btn-success' : loop }">{{ loopText }}</button>
            <span>Dates:</span><span id="dates">{{ currentRange.toString() }}</span>
            <span>Tiles [remaining] : {{ tilesRemaining }}
        </script>

        <script type="text/ng-template" id="playback-settings-template">
            <h5>Playback Options</h5>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="playbackOptions.mode" ng-change="options()" value="instant">
                    Instant
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="playbackOptions.mode" ng-change="options()" value="range">
                    Range
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="playbackOptions.mode" ng-change="options()" value="cumulative">
                    Cumulative
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="playbackOptions.fixed"  ng-change="options()">
                    Fixed Range
                </label>
            </div>
        </script>

        <script src="../bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../bower_components/nouislider/distribute/jquery.nouislider.min.js" type="text/javascript"></script>
        <script src="../dist/time-controls.js" type="text/javascript"></script>
        <script src="ol.js" type="text/javascript"></script>
        <script src="example.js" type="text/javascript"></script>
        <script src="http://localhost:35729/livereload.js"></script>

        <style type="text/css">
            body {
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
            .vis.timeline .item.range .content {
                overflow: visible;
            }
            #map {
                width: 100%;
                height: 100%;
            }
            #panel {
                bottom: 0;
                background: white;
                position: absolute;
                width: 100%;
                z-index: 100;
            }
            #panel2 {
                right: 0;
                position: absolute;
                z-index: 100;
            }
        </style>
    </head>
    <body>
        <div id="panel" ng-show="timeControls">
            <div id="slider"></div>
            <div playback-controls></div>
            <div id="timeline"></div>
        </div>
        <div class="panel-group col-lg-3" id="panel2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#addlayers">
                        <h4 class="panel-title">
                            Add Layers
                        </h4>
                    </a>
                </div>
                <div id="addlayers" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form role="form" ng-submit="addLayer()">
                            <div class="form-group">
                                <label for="typename">Layer Name</label>
                                <input ng-model="layerName" type="text" class="form-control" id="typename" placeholder="Layer in mapstory">
                            </div>
                            <div class="checkbox">
                                <label for="vector"><input ng-model="asVector" type="checkbox" id="vector">As vector</label>
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                            <span ng-if="loading">Loading...</span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion"
                       href="#settings">
                        <h4 class="panel-title">
                            Settings
                        </h4>
                    </a>
                </div>
                <div id="settings" class="panel-collapse collapse">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div playback-settings></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>
    </body>
</html>
