<!DOCTYPE html>
<html ng-app="styleExample">
    <head>
        <title>style example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../dist/story-tools-edit.css" type="text/css">
        <link rel="stylesheet" href="../bower_components/angular-bootstrap-colorpicker/css/colorpicker.css" type="text/css">

        <script src="../bower_components/angular/angular.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="../bower_components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>
        <script src="ol.js" type="text/javascript"></script>
        <script type="text/javascript" src="../dist/story-tools-edit-tpls.js"></script>
        <script src="../dist/story-tools-core.js" type="text/javascript"></script>
        <script src="../dist/story-tools-edit.js" type="text/javascript"></script>
        <script src="../dist/story-tools-core-ng.js" type="text/javascript"></script>
        <script src="../dist/story-tools-edit-ng.js" type="text/javascript"></script>
        <script type="text/javascript" src="style-example.js"></script>
        <script src="http://localhost:35729/livereload.js"></script>
        <style type="text/css">
            html, body {
                margin: 0;
                padding: 0;
            }
            #style-editor {
                height: 100%;
                min-height: 100%;
            }
            #style-editor > .well {
                height:100%;
            }
            h4.active {
                border: 1px solid gray;
            }
            input.ng-invalid {
                background: red;
            }
            accordion .panel-body {
                overflow: auto; // prevent drop-down clipping in accordion
            }
        </style>
        <script type="text/ng-template" id="layer-selector-template">
            <h4>LAYERS</h4>
            <div ng-repeat="layer in layers">
            <h4 ng-click="setLayer(layer)" ng-class="{active:layer._selected}">{{layer._layer.get('id')}}</h4>
            </div>
        </script>
    </head>
    <body ng-controller="exampleController">
        <div class="container">
            <div class="col-lg-4" >
                <tabset>
                    <tab heading="Accordion" ng-controller="layerController">
                        <accordion close-others="true">
                            <accordion-group heading="{{layer._layer.get('id')}}" ng-repeat="layer in layers" is-open="accordianOpen" ng-init="accordianOpen = $first">
                                <!-- to reduce watchers, add ng-if=accordianOpen -->
                                <style-editor class="minheight" layer="layer" on-change="styleChanged"></style-editor>
                            </accordion-group>
                        </accordion>
                    </tab>
                    <tab heading="Picker">
                        <!-- using same layer controls but in a separate editor -->
                        <div ng-controller="layerController">
                            <layer-selector></layer-selector>
                            <button ng-click="styleChanged(selectedLayer)" ng-disabled="styleFormInvalid">Apply Style</button>
                            <style-editor layer="selectedLayer" form-changed="formChanged"></style-editor>
                        </div>
                    </tab>
                </tabset>
            </div>

            <div class="col-lg-4" >
                <input ng-init="geojson='/data/bike_racks/bike_racks.geojson'" ng-model="geojson" placeholder="geojson file name"><button ng-click="loaddata(geojson)">Load</button>
                <input ng-init="wmslayer='topp:states'" ng-model="wmslayer" placeholder="local WMS layer"><button ng-click="loadwms(wmslayer)">Load WMS</button>
                <div id="map" style="height:300px"></div>
            </div>

            <div class="col-lg-4">
                <pre>{{ styleJSON}}</pre>
            </div>
        </div>
    </body>
</html>
